@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      direction: rtl;
  }

  .scrollbar::-webkit-scrollbar-track {
      background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
      background: #00fe49;
      border-radius: 4px;
      border: 6px solid transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #00fe49;
  }
}

:root {
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
  background-color: #090909;
  margin: 0;
  color: white;
}

textarea
{
  resize: none;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

input {
  color-scheme: dark;
}

.react-flow__selectionpane {
  background-color: #090909;
}

/* React Flow Plasia board styling */
.react-flow__background {
  background-color: #090909;
}

.react-flow__controls {
  background-color: #090909;
}

.react-flow__controls > path {
  fill: red;
}

.react-flow__minimap {
  background-color: #090909;
}

.react-flow__minimap-mask {
  background-color: #090909;
  fill: #090909d8;
}