@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 20px;
      direction: rtl;
  }

  .scrollbar::-webkit-scrollbar-track {
      background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
      background: #00fe49;
      border-radius: 8px;
      border: 6px solid transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #00fe49;
  }
}

:root {
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
  background-color: #090909;
  margin: 0;
  color: white;
}

textarea
{
  resize: none;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}